<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/styletable.css}">
    <title>Gestion Empresa</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/'}">
        <img src="img/erp.png" width="40" height="40" class="d-inline-block align-top fw-bold" alt="">
        Gestion APP
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link px-5 fw-bold" th:href="@{/empleado}">Empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-5 fw-bold" th:href="@{/empresa}">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-5 fw-bold" th:href="@{/movimiento}">Movimientos</a>
            </li>
        </ul>

    </div>
</nav>

<div class="agg">
<a th:href="@{empleado/nuevo}">Agregar Empleado</a>
</div>


<table>
    <thead>
    <tr>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Trabaja para Empresa</th>
        <th>Buscar</th>
        <th>Eliminar</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="i:${empleados}" >
        <td th:text="${i.cedula}"></td>
        <td th:text="${i.nombre}"></td>
        <td th:text="${i.correo}"></td>
        <td th:text="${i.rol}"></td>
        <td th:text="${i.getEmpresas().nombre}"></td>
        <td><a class="btn btn-success btn-sm" th:href="@{'empleado/actualizar'+'/'+${i.cedula}}">Buscar</a></td>
        <td><a class="btn btn-danger btn-sm" onclick="return confirm('Esta seguro de eliminar el empleado')" th:href="@{'empleado/eliminar'+'/'+${i.cedula}}">Eliminar</a></td>

    </tr>

    </tbody>

</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>